<!--/*
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in
a browser.
-->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>

<body>
<!--*/-->

<div>
    <table class="hapiPropertyTable" th:if="${not resource.empty}">
        <tbody>
        <tr th:if="${resource.id}">
            <td th:text="(#{narrative.propertyName.id} ?: 'Id') + ':'"></td>
            <td th:text="${resource.id}"></td>
        </tr>
        <tr th:if="${not resource.identifier.empty}">
            <td th:text="(#{narrative.propertyName.identifier} ?: 'Identifier') + ':'"></td>
            <td>
                <th:block th:each="identifier: ${resource.identifier}">
                    <div th:narrative="${identifier}"></div>
                </th:block>
            </td>
        </tr>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.clinicalStatus.empty}">
                <td th:text="(#{narrative.propertyName.clinicalStatus} ?: 'Clinical Status') + ':'"></td>
                <td th:narrative="${resource.clinicalStatus}"></td>
            </tr>
            <tr th:if="${not resource.verificationStatus.empty}">
                <td th:text="(#{narrative.propertyName.verificationStatus} ?: 'Verification Status') + ':'"></td>
                <td th:narrative="${resource.verificationStatus}"></td>
            </tr>
        </th:block>
        <th:block th:if="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${resource.clinicalStatus}">
                <td th:text="(#{narrative.propertyName.clinicalStatus} ?: 'Clinical Status') + ':'"></td>
                <td th:text="${resource.clinicalStatus}"></td>
            </tr>
            <tr th:if="${resource.verificationStatus}">
                <td th:text="(#{narrative.propertyName.verificationStatus} ?: 'Verification Status') + ':'"></td>
                <td th:text="${resource.verificationStatus}"></td>
            </tr>
        </th:block>
        <tr th:if="${resource.type}">
            <td th:text="(#{narrative.propertyName.type} ?: 'Type') + ':'"></td>
            <td th:text="${resource.type}"></td>
        </tr>
        <tr th:if="${not resource.category.empty}">
            <td th:text="(#{narrative.propertyName.category} ?: 'Category') + ':'"></td>
            <td>
                <th:block th:each="category: ${resource.category}">
                    <th:block th:text="${category}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.criticality}">
            <td th:text="(#{narrative.propertyName.criticality} ?: 'Criticality') + ':'"></td>
            <td th:text="${resource.criticality}"></td>
        </tr>
        <tr th:if="${not resource.code.empty}">
            <td th:text="(#{narrative.propertyName.code} ?: 'Code') + ':'"></td>
            <td th:narrative="${resource.code}"></td>
        </tr>
        <tr th:if="${not resource.patient.empty}">
            <td th:text="(#{narrative.propertyName.patient} ?: 'Patient') + ':'"></td>
            <td th:narrative="${resource.patient}"></td>
        </tr>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.encounter.empty}">
                <td th:text="(#{narrative.propertyName.encounter} ?: 'Encounter') + ':'"></td>
                <td th:narrative="${resource.encounter}"></td>
            </tr>
        </th:block>
        <tr th:if="${resource.onset}">
            <td th:text="(#{narrative.propertyName.onset} ?: 'Onset') + ':'"></td>
            <td th:narrative="${resource.onset}"></td>
        </tr>
        <th:block th:if="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${resource.assertedDate}">
                <td th:text="(#{narrative.propertyName.assertedDate} ?: 'Asserted Date') + ':'"></td>
                <td th:text="${#dates.format(resource.assertedDate,'dd/MM/yyyy')}"></td>
            </tr>
        </th:block>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${resource.recordedDate}">
                <td th:text="(#{narrative.propertyName.recordedDate} ?: 'Recorded Date') + ':'"></td>
                <td th:text="${#dates.format(resource.recordedDate,'dd/MM/yyyy')}"></td>
            </tr>
        </th:block>
        <tr th:if="${not resource.recorder.empty}">
            <td th:text="(#{narrative.propertyName.recorder} ?: 'Recorder') + ':'"></td>
            <td th:narrative="${resource.recorder}"></td>
        </tr>
        <tr th:if="${not resource.asserter.empty}">
            <td th:text="(#{narrative.propertyName.asserter} ?: 'Asserter') + ':'"></td>
            <td th:narrative="${resource.asserter}"></td>
        </tr>
        <tr th:if="${resource.lastOccurrence}">
            <td th:text="(#{narrative.propertyName.lastOccurrence} ?: 'Last Occurrence') + ':'"></td>
            <td th:text="${#dates.format(resource.lastOccurrence,'dd/MM/yyyy')}"></td>
        </tr>
        <tr th:if="${not resource.note.empty}">
            <td th:text="(#{narrative.propertyName.note} ?: 'Note') + ':'"></td>
            <td>
                <div th:each="note: ${resource.note}" th:text="${note.text}"></div>
            </td>
        </tr>
        <th:block th:each="reaction: ${resource.reaction}">
            <tr>
                <td th:text="(#{narrative.propertyName.reaction} ?: 'Reaction') + ':'"></td>
                <td></td>
            </tr>
            <tr th:if="${not reaction.substance.empty}">
                <td th:text="(#{narrative.propertyName.substance} ?: 'Substance') + ':'"></td>
                <td th:narrative="${reaction.substance}"></td>
            </tr>
            <tr th:if="${not reaction.manifestation.empty}">
                <td th:text="(#{narrative.propertyName.manifestation} ?: 'Manifestation') + ':'"></td>
                <td>
                    <th:block th:each="manifestation: ${reaction.manifestation}">
                        <div th:if="${not manifestation.empty}" th:narrative="${manifestation}"></div>
                    </th:block>
                </td>
            </tr>
            <tr th:if="${reaction.description}">
                <td th:text="(#{narrative.propertyName.description} ?: 'Description') + ':'"></td>
                <td th:text="${reaction.description}"></td>
            </tr>
            <tr th:if="${reaction.onset}">
                <td th:text="(#{narrative.propertyName.onset} ?: 'Onset') + ':'"></td>
                <td th:text="${#dates.format(reaction.onset,'dd/MM/yyyy')}"></td>
            </tr>
            <tr th:if="${reaction.severity}">
                <td th:text="(#{narrative.propertyName.severity} ?: 'Severity') + ':'"></td>
                <td th:text="${reaction.severity}"></td>
            </tr>
            <tr th:if="${not reaction.exposureRoute.empty}">
                <td th:text="(#{narrative.propertyName.exposureRoute} ?: 'Exposure Route') + ':'"></td>
                <td th:narrative="${reaction.exposureRoute}"></td>
            </tr>
            <tr th:if="${not reaction.noteFirstRep.empty}">
                <td th:text="(#{narrative.propertyName.note} ?: 'Note') + ':'"></td>
                <td th:text="${reaction.noteFirstRep.text}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>

<!--/*-->
</body>

</html>
<!--*/-->
