<!--/*
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in
a browser.
-->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>

<body>
<!--*/-->

<div>
    <table class="hapiPropertyTable" th:if="${not resource.empty}">
        <tbody>
        <tr th:if="${resource.id}">
            <td th:text="(#{narrative.propertyName.id} ?: 'Id') + ':'"></td>
            <td th:text="${resource.id}"></td>
        </tr>
        <tr th:if="${not resource.identifier.empty}">
            <td th:text="(#{narrative.propertyName.identifier} ?: 'Identifier') + ':'"></td>
            <td>
                <th:block th:each="identifier: ${resource.identifier}">
                    <div th:narrative="${identifier}"></div>
                </th:block>
            </td>
        </tr>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.clinicalStatus.empty}">
                <td th:text="(#{narrative.propertyName.clinicalStatus} ?: 'Clinical Status') + ':'"></td>
                <td th:narrative="${resource.clinicalStatus}"></td>
            </tr>
            <tr th:if="${not resource.verificationStatus.empty}">
                <td th:text="(#{narrative.propertyName.verificationStatus} ?: 'Verification Status') + ':'"></td>
                <td th:narrative="${resource.verificationStatus}"></td>
            </tr>
        </th:block>
        <th:block th:if="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${resource.clinicalStatus}">
                <td th:text="(#{narrative.propertyName.clinicalStatus} ?: 'Clinical Status') + ':'"></td>
                <td th:text="${resource.clinicalStatus}"></td>
            </tr>
            <tr th:if="${resource.verificationStatus}">
                <td th:text="(#{narrative.propertyName.verificationStatus} ?: 'Verification Status') + ':'"></td>
                <td th:text="${resource.verificationStatus}"></td>
            </tr>
        </th:block>
        <tr th:if="${not resource.category.empty}">
            <td th:text="(#{narrative.propertyName.category} ?: 'Category') + ':'"></td>
            <td>
                <th:block th:each="category: ${resource.category}">
                    <th:block th:narrative="${category}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.severity.empty}">
            <td th:text="(#{narrative.propertyName.severity} ?: 'Severity') + ':'"></td>
            <td th:narrative="${resource.severity}"></td>
        </tr>
        <tr th:if="${not resource.code.empty}">
            <td th:text="(#{narrative.propertyName.code} ?: 'Code') + ':'"></td>
            <td th:narrative="${resource.code}"></td>
        </tr>
        <tr th:if="${not resource.bodySite.empty}">
            <td th:text="(#{narrative.propertyName.bodySite} ?: 'Body Site') + ':'"></td>
            <td>
                <th:block th:each="bodySite: ${resource.bodySite}">
                    <th:block th:narrative="${bodySite}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.subject.empty}">
            <td th:text="(#{narrative.propertyName.subject} ?: 'Subject') + ':'"></td>
            <td th:narrative="${resource.subject}"></td>
        </tr>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.encounter.empty}">
                <td th:text="(#{narrative.propertyName.encounter} ?: 'Encounter') + ':'"></td>
                <td th:narrative="${resource.encounter}"></td>
            </tr>
        </th:block>
        <tr th:if="${resource.onset}">
            <td th:text="(#{narrative.propertyName.onset} ?: 'Onset') + ':'"></td>
            <td th:narrative="${resource.onset}"></td>
        </tr>
        <tr th:if="${resource.abatement}">
            <td th:text="(#{narrative.propertyName.abatement} ?: 'Abatement') + ':'"></td>
            <td th:narrative="${resource.abatement}"></td>
        </tr>
        <th:block th:if="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${resource.assertedDate}">
                <td th:text="(#{narrative.propertyName.assertedDate} ?: 'Asserted Date') + ':'"></td>
                <td th:text="${#dates.format(resource.assertedDate,'dd/MM/yyyy')}"></td>
            </tr>
        </th:block>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${resource.recordedDate}">
                <td th:text="(#{narrative.propertyName.recordedDate} ?: 'Recorded Date') + ':'"></td>
                <td th:text="${#dates.format(resource.recordedDate,'dd/MM/yyyy')}"></td>
            </tr>
        </th:block>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.recorder.empty}">
                <td th:text="(#{narrative.propertyName.recorder} ?: 'Recorder') + ':'"></td>
                <td th:narrative="${resource.recorder}"></td>
            </tr>
        </th:block>
        <tr th:if="${not resource.asserter.empty}">
            <td th:text="(#{narrative.propertyName.asserter} ?: 'Asserter') + ':'"></td>
            <td th:narrative="${resource.asserter}"></td>
        </tr>
        <tr th:if="${not resource.stage.empty}">
            <td th:text="(#{narrative.propertyName.stages} ?: 'Stages') + ':'"></td>
            <td>
                <table class="subPropertyTable">
                    <tbody>
                    <tr>
                        <th>-</th>
                        <th th:text="(#{narrative.propertyName.summary} ?: 'Summary')"></th>
                        <th th:text="(#{narrative.propertyName.assessment} ?: 'Assessment')"></th>
                        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
                            <th th:text="(#{narrative.propertyName.type} ?: 'Type')"></th>
                        </th:block>
                    </tr>
                    <tr th:each="stage, stageItr: ${resource.stage}">
                        <td th:text="${stageItr.count}"></td>
                        <td>
                            <th:block th:if="${stage.summary}" th:narrative="${stage.summary}"></th:block>
                        </td>
                        <td>
                            <th:block th:each="assessment: ${stage.assessment}">
                                <div th:narrative="${assessment}"></div>
                            </th:block>
                        </td>
                        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
                            <td>
                                <th:block th:if="${stage.type}" th:narrative="${stage.type}"></th:block>
                            </td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr th:if="${not resource.evidence.empty}">
            <td th:text="(#{narrative.propertyName.evidences} ?: 'Evidences') + ':'"></td>
            <td>
                <table class="subPropertyTable">
                    <tbody>
                    <tr>
                        <th>-</th>
                        <th th:text="(#{narrative.propertyName.code} ?: 'Code')"></th>
                        <th th:text="(#{narrative.propertyName.detail} ?: 'Detail')"></th>
                    </tr>
                    <tr th:each="evidence, evidenceItr: ${resource.evidence}">
                        <td th:text="${evidenceItr.count}"></td>
                        <td>
                            <th:block th:each="code: ${evidence.code}">
                                <div th:narrative="${code}"></div>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:each="detail: ${evidence.detail}">
                                <div th:narrative="${detail}"></div>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr th:if="${not resource.note.empty}">
            <td th:text="(#{narrative.propertyName.note} ?: 'Note') + ':'"></td>
            <td>
                <div th:each="note: ${resource.note}" th:text="${note.text}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--/*-->
</body>

</html>
<!--*/-->
