<!--/*
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in
a browser.
-->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>

<body>
<!--*/-->

<div>
    <table class="hapiPropertyTable" th:if="${not resource.empty}">
        <tbody>
        <tr th:if="${resource.id}">
            <td>Id:</td>
            <td th:text="${resource.id}"></td>
        </tr>
        <tr th:if="${not resource.identifier.empty}">
            <td>Identifier:</td>
            <td>
                <th:block th:each="identifier: ${resource.identifier}">
                    <div th:narrative="${identifier}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.status}">
            <td>Status:</td>
            <td th:text="${resource.status}"></td>
        </tr>
        <th:block th:if="${fhirVersion} eq 'R4'">
            <tr th:if="${not resource.statusReason.empty}">
                <td>Status Reason:</td>
                <td th:narrative="${resource.statusReason}"></td>
            </tr>
        </th:block>
        <tr th:if="${resource.intent}">
            <td>Intent:</td>
            <td th:text="${resource.intent}"></td>
        </tr>
        <tr th:if="${not resource.category.empty}">
            <td>Category:</td>
            <td>
                <th:block th:each="category: ${resource.category}">
                    <div th:narrative="${category}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.priority}">
            <td>Priority:</td>
            <td th:narrative="${resource.priority}"></td>
        </tr>
        <th:block th:if="${fhirVersion} eq 'R4'">
            <tr th:if="${resource.doNotPerform}">
                <td>Do Not Perform:</td>
                <td th:narrative="${resource.doNotPerform}"></td>
            </tr>
            <tr th:if="${resource.reported}">
                <td>Reported:</td>
                <td th:narrative="${resource.reported}"></td>
            </tr>
        </th:block>
        <tr th:if="${resource.medication}">
            <td>Medication:</td>
            <td th:narrative="${resource.medication}"></td>
        </tr>
        <tr th:if="${not resource.subject.empty}">
            <td>Subject:</td>
            <td th:narrative="${resource.subject}"></td>
        </tr>
        <th:block th:if="${fhirVersion} eq 'R4'">
            <tr th:if="${not resource.encounter.empty}">
                <td>Encounter:</td>
                <td th:narrative="${resource.encounter}"></td>
            </tr>
        </th:block>
        <tr th:if="${not resource.supportingInformation.empty}">
            <td>Supporting Information:</td>
            <td>
                <th:block th:each="supportingInfo: ${resource.supportingInformation}">
                    <div th:narrative="${supportingInfo}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.authoredOn}">
            <td>Authored On:</td>
            <td th:text="${#dates.format(resource.authoredOn,'dd/MM/yyyy')}"></td>
        </tr>
        <tr th:if="${not resource.requester.empty}">
            <td>Requester:</td>
            <td th:narrative="${resource.requester}"></td>
        </tr>
        <th:block th:if="${fhirVersion} eq 'R4'">
            <tr th:if="${not resource.performer.empty}">
                <td>Performer:</td>
                <td th:narrative="${resource.performer}"></td>
            </tr>
            <tr th:if="${not resource.performerType.empty}">
                <td>Performer Type:</td>
                <td th:narrative="${resource.performerType}"></td>
            </tr>
        </th:block>
        <tr th:if="${not resource.recorder.empty}">
            <td>Recorder:</td>
            <td th:narrative="${resource.recorder}"></td>
        </tr>
        <tr th:if="${not resource.reasonCode.empty}">
            <td>Reason Code:</td>
            <td>
                <th:block th:each="reasonCode: ${resource.reasonCode}">
                    <div th:narrative="${reasonCode}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.reasonReference.empty}">
            <td>Reason Reference:</td>
            <td>
                <th:block th:each="reasonRef: ${resource.reasonReference}">
                    <div th:narrative="${reasonRef}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.basedOn.empty}">
            <td>Based On:</td>
            <td>
                <th:block th:each="basedOn: ${resource.basedOn}">
                    <div th:narrative="${basedOn}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.groupIdentifier.empty}">
            <td>Group Identifier:</td>
            <td th:text="${resource.groupIdentifier.value} + ' (' + ${resource.groupIdentifier.use} + ')'"></td>
        </tr>
        <th:block th:if="${fhirVersion} eq 'R4'">
            <tr th:if="${not resource.courseOfTherapyType.empty}">
                <td>Course of Therapy Type:</td>
                <td th:narrative="${resource.courseOfTherapyType}"></td>
            </tr>
            <tr th:if="${not resource.insurance.empty}">
                <td>Insurance:</td>
                <td>
                    <th:block th:each="insurance: ${resource.insurance}">
                        <div th:narrative="${insurance}"></div>
                    </th:block>
                </td>
            </tr>
        </th:block>
        <tr th:if="${not resource.note.empty}">
            <td>Note:</td>
            <td>
                <div th:each="note: ${resource.note}" th:text="${note.text}"></div>
            </td>
        </tr>
        <tr th:if="${not resource.dosageInstruction.empty}">
            <td>Dosage Instruction:</td>
            <td>
                <th:block th:each="dosageInstruction: ${resource.dosageInstruction}">
                    <div th:text="${dosageInstruction.text}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.dispenseRequest.empty}">
            <td>Dispense Requests:</td>
            <td>
                <table class="subPropertyTable">
                    <tbody>
                    <tr>
                        <th>-</th>
                        <th:block th:if="${fhirVersion} eq 'R4'">
                            <th>Initial Fill</th>
                        </th:block>
                        <th:block th:if="${fhirVersion} eq 'R4'">
                            <th>Dispense Interval</th>
                        </th:block>
                        <th>Validity Period</th>
                        <th>Number of Repeats Allowed</th>
                        <th>Quantity</th>
                        <th>Expected Supply Duration</th>
                        <th>Performer</th>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td>
                            <th:block th:if="${fhirVersion} eq 'R4'">
                                <th:block th:if="${resource.dispenseRequest.initialFill}">
                                    <div th:if="${resource.dispenseRequest.initialFill.quantity}">
                                        Quantity:
                                        <th:block
                                                th:narrative="${resource.dispenseRequest.initialFill.quantity}"></th:block>
                                    </div>
                                    <div th:if="${resource.dispenseRequest.initialFill.duration}">
                                        Duration:
                                        <th:block
                                                th:narrative="${resource.dispenseRequest.initialFill.duration}"></th:block>
                                    </div>
                                </th:block>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:if="${resource.dispenseRequest.dispenseInterval}"
                                      th:narrative="${resource.dispenseRequest.dispenseInterval}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${resource.dispenseRequest.validityPeriod}"
                                      th:narrative="${resource.dispenseRequest.validityPeriod}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${resource.dispenseRequest.numberOfRepeatsAllowed.toString}"
                                      th:text="${resource.dispenseRequest.numberOfRepeatsAllowed}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${resource.dispenseRequest.quantity}"
                                      th:narrative="${resource.dispenseRequest.quantity}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${resource.dispenseRequest.expectedSupplyDuration}"
                                      th:narrative="${resource.dispenseRequest.expectedSupplyDuration}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${resource.dispenseRequest.performer}"
                                      th:narrative="${resource.dispenseRequest.performer}"></th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr th:if="${not resource.substitution.empty}">
            <td>Substitutions:</td>
            <td>
                <table class="subPropertyTable">
                    <tbody>
                    <tr>
                        <th>-</th>
                        <th>Allowed</th>
                        <th>Reason</th>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td>
                            <th:block th:if="${resource.substitution.allowed}"
                                      th:narrative="${resource.substitution.allowed}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${resource.substitution.reason}"
                                      th:narrative="${resource.substitution.reason}"></th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr th:if="${not resource.priorPrescription.empty}">
            <td>Prior Prescription:</td>
            <td th:narrative="${resource.priorPrescription}"></td>
        </tr>
        <tr th:if="${not resource.detectedIssue.empty}">
            <td>Detected Issue:</td>
            <td>
                <th:block th:each="detectedIssue: ${resource.detectedIssue}">
                    <div th:narrative="${detectedIssue}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.eventHistory.empty}">
            <td>Event History:</td>
            <td>
                <th:block th:each="eventHistory: ${resource.eventHistory}">
                    <div th:narrative="${eventHistory}"></div>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--/*-->
</body>

</html>
<!--*/-->
