<!--/*
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in
a browser.
-->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>

<body>
<!--*/-->

<div>
    <table class="hapiPropertyTable">
        <tbody>
        <tr th:if="${resource.id}">
            <td>Id:</td>
            <td th:text="${resource.id}"></td>
        </tr>
        <tr th:if="${not resource.identifier.empty}">
            <td>Identifier:</td>
            <td>
                <th:block th:each="identifier: ${resource.identifier}">
                    <div th:narrative="${identifier}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.basedOn.empty}">
            <td>Based On:</td>
            <td>
                <th:block th:each="basedOn, basedOnItr: ${resource.basedOn}">
                    <th:block th:if="${basedOnItr.index}">,</th:block>
                    <th:block th:narrative="${basedOn}"></th:block>
                </th:block>
            </td>
        </tr>
        <th:block th:if="${fhirVersion} eq 'R4'">
            <tr th:if="${not resource.partOf.empty}">
                <td>Part Of:</td>
                <td>
                    <th:block th:each="partOf, partOfItr: ${resource.partOf}">
                        <th:block th:if="${partOfItr.index}">,</th:block>
                        <th:block th:narrative="${partOf}"></th:block>
                    </th:block>
                </td>
            </tr>
        </th:block>
        <tr th:if="${resource.status}">
            <td>Status:</td>
            <td th:text="${resource.status}"></td>
        </tr>
        <tr th:if="${not resource.category.empty}">
            <td>Category:</td>
            <td>
                <th:block th:each="category, categoryItr: ${resource.category}">
                    <th:block th:if="${categoryItr.index}">,</th:block>
                    <th:block th:narrative="${category}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.code.empty}">
            <td>Code:</td>
            <td th:narrative="${resource.code}"></td>
        </tr>
        <tr th:if="${not resource.subject.empty}">
            <td>Subject:</td>
            <td th:narrative="${resource.subject}"></td>
        </tr>
        <th:block th:if="${fhirVersion} eq 'R4'">
            <tr th:if="${not resource.focus.empty}">
                <td>Focus:</td>
                <td>
                    <th:block th:each="focus, focusItr: ${resource.focus}">
                        <th:block th:if="${focusItr.index}">,</th:block>
                        <th:block th:narrative="${focus}"></th:block>
                    </th:block>
                </td>
            </tr>
        </th:block>
        <th:block th:if="${fhirVersion} eq 'R4'">
            <tr th:if="${not resource.encounter.empty}">
                <td>Encounter:</td>
                <td th:narrative="${resource.encounter}"></td>
            </tr>
        </th:block>
        <th:block th:unless="${fhirVersion} eq 'R4'">
            <tr th:if="${resource.context}">
                <td>Context:</td>
                <td th:narrative="${resource.context}"></td>
            </tr>
        </th:block>
        <tr th:if="${resource.effective}">
            <td>Effective:</td>
            <td th:narrative="${resource.effective}"></td>
        </tr>
        <tr th:if="${resource.issued}">
            <td>Issued:</td>
            <td th:text="${#dates.format(resource.issued,'dd/MM/yyyy hh:mm:ss a')}"></td>
        </tr>
        <tr th:if="${not resource.performer.empty}">
            <td>Performer:</td>
            <td>
                <th:block th:each="performer, performerItr: ${resource.performer}">
                    <th:block th:if="${performerItr.index}">,</th:block>
                    <th:block th:narrative="${performer}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.value}">
            <td>Value:</td>
            <td th:narrative="${resource.value}"></td>
        </tr>
        <tr th:if="${not resource.dataAbsentReason.empty}">
            <td>Data Absent Reason:</td>
            <td th:narrative="${resource.dataAbsentReason}"></td>
        </tr>
        <tr th:if="${not resource.interpretation.empty}">
            <td>Interpretation:</td>
            <td>
                <th:block th:each="interpretation, interpretationItr: ${resource.interpretation}">
                    <th:block th:if="${interpretationItr.index}">,</th:block>
                    <th:block th:narrative="${interpretation}"></th:block>
                </th:block>
            </td>
        </tr>
        <th:block th:if="${fhirVersion} eq 'R4'">
            <tr th:if="${not resource.note.empty}">
                <td>Note:</td>
                <td>
                    <div th:each="note: ${resource.note}" th:text="${note.text}"></div>
                </td>
            </tr>
        </th:block>
        <th:block th:unless="${fhirVersion} eq 'R4'">
            <tr th:if="${resource.comment}">
                <td>Comment:</td>
                <td th:narrative="${resource.comment}"></td>
            </tr>
        </th:block>
        <tr th:if="${not resource.bodySite.empty}">
            <td>Body Site:</td>
            <td th:narrative="${resource.bodySite}"></td>
        </tr>
        <tr th:if="${not resource.method.empty}">
            <td>Method:</td>
            <td th:narrative="${resource.method}"></td>
        </tr>
        <tr th:if="${not resource.specimen.empty}">
            <td>Specimen:</td>
            <td th:narrative="${resource.specimen}"></td>
        </tr>
        <tr th:if="${not resource.device.empty}">
            <td>Device:</td>
            <td th:narrative="${resource.device}"></td>
        </tr>
        </tbody>
    </table>

    <th:block th:if="${not resource.referenceRange.empty}">
        <h2>Reference Ranges</h2>
        <table class="subPropertyTable">
            <tbody>
            <tr>
                <th>-</th>
                <th>Low</th>
                <th>High</th>
                <th>Type</th>
                <th>Applies To</th>
                <th>Age</th>
            </tr>
            <tr th:each="refRange, refRangeItr: ${resource.referenceRange}">
                <td th:text="${refRangeItr.count}"></td>
                <td th:narrative="${refRange.low}"></td>
                <td th:narrative="${refRange.high}"></td>
                <td th:narrative="${refRange.type}"></td>
                <td>
                    <th:block th:each="appliesTo, appliesToItr: ${refRange.appliesTo}">
                        <th:block th:if="${appliesToItr.index}">,</th:block>
                        <th:block th:narrative="${appliesTo}"></th:block>
                    </th:block>
                </td>
                <td th:narrative="${refRange.age}"></td>
            </tr>
            </tbody>
        </table>
    </th:block>

    <th:block th:if="${fhirVersion} eq 'R4'">
        <br/>
        <table class="hapiPropertyTable">
            <tbody>
            <tr th:if="${not resource.hasMember.empty}">
                <td>Has Member:</td>
                <td>
                    <th:block th:each="hasMember: ${resource.hasMember}">
                        <div th:narrative="${hasMember}"></div>
                    </th:block>
                </td>
            </tr>
            <tr th:if="${not resource.derivedFrom.empty}">
                <td>Derived From:</td>
                <td>
                    <th:block th:each="derivedFrom: ${resource.derivedFrom}">
                        <div th:narrative="${derivedFrom}"></div>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>

    <th:block th:if="${not resource.component.empty}">
        <h2>Components</h2>
        <table class="subPropertyTable">
            <tbody>
            <tr>
                <th>-</th>
                <th>Code</th>
                <th>Value</th>
                <th>Data Absent Reason</th>
                <th>Interpretation</th>
            </tr>
            <tr th:each="component, componentItr: ${resource.component}">
                <td th:text="${componentItr.count}"></td>
                <td th:narrative="${component.code}"></td>
                <td th:narrative="${component.value}"></td>
                <td th:narrative="${component.dataAbsentReason}"></td>
                <td>
                    <th:block th:each="interpretation, interpretationItr: ${component.interpretation}">
                        <th:block th:if="${interpretationItr.index}">,</th:block>
                        <th:block th:narrative="${interpretation}"></th:block>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>

<!--/*-->
</body>

</html>
<!--*/-->
