<!--/*
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in
a browser.
-->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>

<body>
<!--*/-->

<div>
    <table class="hapiPropertyTable" th:if="${not resource.empty}">
        <tbody>
        <tr th:if="${resource.id}">
            <td th:text="(#{narrative.propertyName.id} ?: 'Id') + ':'"></td>
            <td th:text="${resource.id}"></td>
        </tr>
        <tr th:if="${not resource.identifier.empty}">
            <td th:text="(#{narrative.propertyName.identifier} ?: 'Identifier') + ':'"></td>
            <td>
                <th:block th:each="identifier: ${resource.identifier}">
                    <div th:narrative="${identifier}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.basedOn.empty}">
            <td th:text="(#{narrative.propertyName.basedOn} ?: 'Based On') + ':'"></td>
            <td>
                <th:block th:each="basedOn, basedOnItr: ${resource.basedOn}">
                    <th:block th:if="${basedOnItr.index}">,</th:block>
                    <th:block th:narrative="${basedOn}"></th:block>
                </th:block>
            </td>
        </tr>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.partOf.empty}">
                <td th:text="(#{narrative.propertyName.partOf} ?: 'Part Of') + ':'"></td>
                <td>
                    <th:block th:each="partOf, partOfItr: ${resource.partOf}">
                        <th:block th:if="${partOfItr.index}">,</th:block>
                        <th:block th:narrative="${partOf}"></th:block>
                    </th:block>
                </td>
            </tr>
        </th:block>
        <tr th:if="${resource.status}">
            <td th:text="(#{narrative.propertyName.status} ?: 'Status') + ':'"></td>
            <td th:text="${resource.status}"></td>
        </tr>
        <tr th:if="${not resource.category.empty}">
            <td th:text="(#{narrative.propertyName.category} ?: 'Category') + ':'"></td>
            <td>
                <th:block th:each="category, categoryItr: ${resource.category}">
                    <th:block th:if="${categoryItr.index}">,</th:block>
                    <th:block th:narrative="${category}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.code.empty}">
            <td th:text="(#{narrative.propertyName.code} ?: 'Code') + ':'"></td>
            <td th:narrative="${resource.code}"></td>
        </tr>
        <tr th:if="${not resource.subject.empty}">
            <td th:text="(#{narrative.propertyName.subject} ?: 'Subject') + ':'"></td>
            <td th:narrative="${resource.subject}"></td>
        </tr>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.focus.empty}">
                <td th:text="(#{narrative.propertyName.focus} ?: 'Focus') + ':'"></td>
                <td>
                    <th:block th:each="focus, focusItr: ${resource.focus}">
                        <th:block th:if="${focusItr.index}">,</th:block>
                        <th:block th:narrative="${focus}"></th:block>
                    </th:block>
                </td>
            </tr>
        </th:block>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.encounter.empty}">
                <td th:text="(#{narrative.propertyName.encounter} ?: 'Encounter') + ':'"></td>
                <td th:narrative="${resource.encounter}"></td>
            </tr>
        </th:block>
        <th:block th:if="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${resource.context}">
                <td th:text="(#{narrative.propertyName.context} ?: 'Context') + ':'"></td>
                <td th:narrative="${resource.context}"></td>
            </tr>
        </th:block>
        <tr th:if="${resource.effective}">
            <td th:text="(#{narrative.propertyName.effective} ?: 'Effective') + ':'"></td>
            <td th:narrative="${resource.effective}"></td>
        </tr>
        <tr th:if="${resource.issued}">
            <td th:text="(#{narrative.propertyName.issued} ?: 'Issued') + ':'"></td>
            <td th:text="${#dates.format(resource.issued,'dd/MM/yyyy hh:mm:ss a')}"></td>
        </tr>
        <tr th:if="${not resource.performer.empty}">
            <td th:text="(#{narrative.propertyName.performer} ?: 'Performer') + ':'"></td>
            <td>
                <th:block th:each="performer, performerItr: ${resource.performer}">
                    <th:block th:if="${performerItr.index}">,</th:block>
                    <th:block th:narrative="${performer}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.value}">
            <td th:text="(#{narrative.propertyName.value} ?: 'Value') + ':'"></td>
            <td th:narrative="${resource.value}"></td>
        </tr>
        <tr th:if="${not resource.dataAbsentReason.empty}">
            <td th:text="(#{narrative.propertyName.dataAbsentReason} ?: 'Data Absent Reason') + ':'"></td>
            <td th:narrative="${resource.dataAbsentReason}"></td>
        </tr>
        <tr th:if="${not resource.interpretation.empty}">
            <td th:text="(#{narrative.propertyName.interpretation} ?: 'Interpretation') + ':'"></td>
            <td>
                <th:block th:each="interpretation, interpretationItr: ${resource.interpretation}">
                    <th:block th:if="${interpretationItr.index}">,</th:block>
                    <th:block th:narrative="${interpretation}"></th:block>
                </th:block>
            </td>
        </tr>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.note.empty}">
                <td th:text="(#{narrative.propertyName.note} ?: 'Note') + ':'"></td>
                <td>
                    <div th:each="note: ${resource.note}" th:text="${note.text}"></div>
                </td>
            </tr>
        </th:block>
        <th:block th:if="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${resource.comment}">
                <td th:text="(#{narrative.propertyName.comment} ?: 'Comment') + ':'"></td>
                <td th:text="${resource.comment}"></td>
            </tr>
        </th:block>
        <tr th:if="${not resource.bodySite.empty}">
            <td th:text="(#{narrative.propertyName.bodySite} ?: 'Body Site') + ':'"></td>
            <td th:narrative="${resource.bodySite}"></td>
        </tr>
        <tr th:if="${not resource.method.empty}">
            <td th:text="(#{narrative.propertyName.method} ?: 'Method') + ':'"></td>
            <td th:narrative="${resource.method}"></td>
        </tr>
        <tr th:if="${not resource.specimen.empty}">
            <td th:text="(#{narrative.propertyName.specimen} ?: 'Specimen') + ':'"></td>
            <td th:narrative="${resource.specimen}"></td>
        </tr>
        <tr th:if="${not resource.device.empty}">
            <td th:text="(#{narrative.propertyName.device} ?: 'Device') + ':'"></td>
            <td th:narrative="${resource.device}"></td>
        </tr>
        <tr th:if="${not resource.referenceRange.empty}">
            <td th:text="(#{narrative.propertyName.referenceRange.multiple} ?: 'Reference Ranges') + ':'"></td>
            <td>
                <table class="subPropertyTable">
                    <tbody>
                    <tr>
                        <th>-</th>
                        <th th:text="(#{narrative.propertyName.low} ?: 'Low')"></th>
                        <th th:text="(#{narrative.propertyName.high} ?: 'High')"></th>
                        <th th:text="(#{narrative.propertyName.type} ?: 'Type')"></th>
                        <th th:text="(#{narrative.propertyName.appliesTo} ?: 'Applies To')"></th>
                        <th th:text="(#{narrative.propertyName.age} ?: 'Age')"></th>
                    </tr>
                    <tr th:each="refRange, refRangeItr: ${resource.referenceRange}">
                        <td th:text="${refRangeItr.count}"></td>
                        <td th:narrative="${refRange.low}"></td>
                        <td th:narrative="${refRange.high}"></td>
                        <td th:narrative="${refRange.type}"></td>
                        <td>
                            <th:block th:each="appliesTo, appliesToItr: ${refRange.appliesTo}">
                                <th:block th:if="${appliesToItr.index}">,</th:block>
                                <th:block th:narrative="${appliesTo}"></th:block>
                            </th:block>
                        </td>
                        <td th:narrative="${refRange.age}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.hasMember.empty}">
                <td th:text="(#{narrative.propertyName.hasMember} ?: 'Has Member') + ':'"></td>
                <td>
                    <th:block th:each="hasMember: ${resource.hasMember}">
                        <div th:narrative="${hasMember}"></div>
                    </th:block>
                </td>
            </tr>
            <tr th:if="${not resource.derivedFrom.empty}">
                <td th:text="(#{narrative.propertyName.derivedFrom} ?: 'Derived From') + ':'"></td>
                <td>
                    <th:block th:each="derivedFrom: ${resource.derivedFrom}">
                        <div th:narrative="${derivedFrom}"></div>
                    </th:block>
                </td>
            </tr>
        </th:block>
        <tr th:if="${not resource.component.empty}">
            <td th:text="(#{narrative.propertyName.component.multiple} ?: 'Components') + ':'"></td>
            <td>
                <table class="subPropertyTable">
                    <tbody>
                    <tr>
                        <th>-</th>
                        <th th:text="(#{narrative.propertyName.code} ?: 'Code')"></th>
                        <th th:text="(#{narrative.propertyName.value} ?: 'Value')"></th>
                        <th th:text="(#{narrative.propertyName.dataAbsentReason} ?: 'Data Absent Reason')"></th>
                        <th th:text="(#{narrative.propertyName.interpretation} ?: 'Interpretation')"></th>
                    </tr>
                    <tr th:each="component, componentItr: ${resource.component}">
                        <td th:text="${componentItr.count}"></td>
                        <td th:narrative="${component.code}"></td>
                        <td th:narrative="${component.value}"></td>
                        <td th:narrative="${component.dataAbsentReason}"></td>
                        <td>
                            <th:block th:each="interpretation, interpretationItr: ${component.interpretation}">
                                <th:block th:if="${interpretationItr.index}">,</th:block>
                                <th:block th:narrative="${interpretation}"></th:block>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--/*-->
</body>

</html>
<!--*/-->
