<!--/*
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in
a browser.
-->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>

<body>
<!--*/-->

<div>
    <table class="hapiPropertyTable" th:if="${not resource.empty}">
        <tbody>
        <tr th:if="${resource.id}">
            <td>Id:</td>
            <td th:text="${resource.id}"></td>
        </tr>
        <tr th:if="${not resource.identifier.empty}">
            <td>Identifier:</td>
            <td>
                <th:block th:each="identifier: ${resource.identifier}">
                    <div th:narrative="${identifier}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.active}">
            <td>Active:</td>
            <td th:text="${resource.active}"></td>
        </tr>
        <tr th:if="${not resource.name.empty}">
            <td>Name:</td>
            <td>
                <th:block th:each="name, nameItr: ${resource.name}">
                    <th:block th:if="${nameItr.index}">,</th:block>
                    <th:block th:narrative="${name}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.telecom.empty}">
            <td>Telecom:</td>
            <td>
                <th:block th:each="telecom, telecomItr: ${resource.telecom}">
                    <th:block th:if="${telecomItr.index}">,</th:block>
                    <th:block th:narrative="${telecom}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.gender}">
            <td>Gender:</td>
            <td th:text="${resource.gender}"></td>
        </tr>
        <tr th:if="${resource.birthDate}">
            <td>Birth Date:</td>
            <td th:text="${#dates.format(resource.birthDate,'dd/MM/yyyy')}"></td>
        </tr>
        <tr th:if="${resource.deceased}">
            <td>Deceased:</td>
            <td th:narrative="${resource.deceased}"></td>
        </tr>
        <tr th:if="${not resource.addressFirstRep.empty}">
            <td>Address:</td>
            <td th:narrative="${resource.addressFirstRep}"></td>
        </tr>
        <tr th:if="${not resource.maritalStatus.empty}">
            <td>Marital Status:</td>
            <td th:narrative="${resource.maritalStatus}"></td>
        </tr>
        <tr th:if="${resource.multipleBirth}">
            <td>Multiple Birth:</td>
            <td th:text="${resource.multipleBirth}"></td>
        </tr>
        <th:block th:if="resource.photo">
            <tr th:if="${resource.photoFirstRep.url}">
                <td>Photo:</td>
                <td><img src="${resource.photoFirstRep.url}"/></td>
            </tr>
        </th:block>
        <tr th:if="${not resource.contact.empty}">
            <td>Contacts:</td>
            <td>
                <table class="subPropertyTable">
                    <tbody>
                    <tr>
                        <th>-</th>
                        <th>Relationship</th>
                        <th>Name</th>
                        <th>Telecom</th>
                        <th>Address</th>
                        <th>Gender</th>
                        <th>Organization</th>
                        <th>Period</th>
                    </tr>
                    <tr th:each="contact, contactItr: ${resource.contact}">
                        <td th:text="${contactItr.count}"></td>
                        <td>
                            <th:block th:each="relationship, relationshipItr: ${contact.relationship}">
                                <th:block th:if="${relationshipItr.index}">,</th:block>
                                <th:block th:narrative="${relationship}"></th:block>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:if="${contact.name}" th:narrative="${contact.name}"></th:block>
                        </td>
                        <td>
                            <th:block th:each="telecom, telecomItr: ${contact.telecom}">
                                <th:block th:if="${telecomItr.index}">,</th:block>
                                <th:block th:narrative="${telecom}"></th:block>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:if="${contact.address}" th:narrative="${contact.address}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${contact.gender}" th:text="${contact.gender}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${contact.organization}" th:narrative="${contact.organization}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${contact.period}" th:narrative="${contact.period}"></th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr th:if="${not resource.communication.empty}">
            <td>Communication:</td>
            <td>
                <th:block th:each="communication, communicationItr: ${resource.communication}">
                    <th:block th:if="${communicationItr.index}">,</th:block>
                    <th:block th:narrative="${communication.language}"></th:block>
                    <th:block th:if="${communication.preferred}">(PREFERRED)</th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.generalPractitioner.empty}">
            <td>General Practitioner:</td>
            <td>
                <th:block th:each="generalPractitioner, generalPractitionerItr: ${resource.generalPractitioner}">
                    <th:block th:if="${generalPractitionerItr.index}">,</th:block>
                    <th:block th:narrative="${generalPractitioner}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.managingOrganization.empty}">
            <td>Managing Organization:</td>
            <td th:narrative="${resource.managingOrganization}"></td>
        </tr>
        <tr th:if="${not resource.link.empty}">
            <td>Link:</td>
            <td>
                <th:block th:each="link, linkItr: ${resource.link}">
                    <th:block th:if="${linkItr.index}">,</th:block>
                    <th:block th:if="${link.other}" th:narrative="${link.other}"></th:block>
                    (
                    <th:block th:if="${link.type}" th:text="${link.type}"></th:block>
                    )
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--/*-->
</body>

</html>
<!--*/-->
