<!--/*
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in
a browser.
-->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>

<body>
<!--*/-->

<div>
    <table class="hapiPropertyTable" th:if="${not resource.empty}">
        <tbody>
        <tr th:if="${resource.id}">
            <td th:text="(#{narrative.propertyName.id} ?: 'Id') + ':'"></td>
            <td th:text="${resource.id}"></td>
        </tr>
        <tr th:if="${not resource.identifier.empty}">
            <td th:text="(#{narrative.propertyName.identifier} ?: 'Identifier') + ':'"></td>
            <td>
                <th:block th:each="identifier: ${resource.identifier}">
                    <div th:narrative="${identifier}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.active}">
            <td th:text="(#{narrative.propertyName.active} ?: 'Active') + ':'"></td>
            <td th:text="${resource.active}"></td>
        </tr>
        <tr th:if="${not resource.name.empty}">
            <td th:text="(#{narrative.propertyName.name} ?: 'Name') + ':'"></td>
            <td>
                <th:block th:each="name, nameItr: ${resource.name}">
                    <th:block th:if="${nameItr.index}">,</th:block>
                    <th:block th:narrative="${name}"></th:block>
                </th:block>
            </td>
        </tr>
        <th:block th:if="resource.photoFirstRep">
            <tr th:if="${resource.photoFirstRep.url}">
                <td th:text="(#{narrative.propertyName.photo} ?: 'Photo') + ':'"></td>
                <td><img src="${resource.photoFirstRep.url}"/></td>
            </tr>
        </th:block>
        <tr th:if="${not resource.telecom.empty}">
            <td th:text="(#{narrative.propertyName.telecom} ?: 'Telecom') + ':'"></td>
            <td>
                <th:block th:each="telecom, telecomItr: ${resource.telecom}">
                    <th:block th:if="${telecomItr.index}">,</th:block>
                    <th:block th:narrative="${telecom}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.addressFirstRep.empty}">
            <td th:text="(#{narrative.propertyName.address} ?: 'Address') + ':'"></td>
            <td th:narrative="${resource.addressFirstRep}"></td>
        </tr>
        <tr th:if="${resource.gender}">
            <td th:text="(#{narrative.propertyName.gender} ?: 'Gender') + ':'"></td>
            <td th:text="${resource.gender}"></td>
        </tr>
        <tr th:if="${resource.birthDate}">
            <td th:text="(#{narrative.propertyName.birthDate} ?: 'Birth Date') + ':'"></td>
            <td th:text="${#dates.format(resource.birthDate,'dd/MM/yyyy')}"></td>
        </tr>
        <tr th:if="${not resource.communication.empty}">
            <td th:text="(#{narrative.propertyName.communication} ?: 'Communication') + ':'"></td>
            <td>
                <th:block th:each="communication, communicationItr: ${resource.communication}">
                    <th:block th:if="${communicationItr.index}">,</th:block>
                    <th:block th:narrative="${communication}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.qualification.empty}">
            <td th:text="(#{narrative.propertyName.qualification} ?: 'Qualification') + ':'"></td>
            <td>
                <table class="subPropertyTable">
                    <tbody>
                    <tr>
                        <th>-</th>
                        <th th:text="(#{narrative.propertyName.identifier} ?: 'Identifier')"></th>
                        <th th:text="(#{narrative.propertyName.code} ?: 'Code')"></th>
                        <th th:text="(#{narrative.propertyName.period} ?: 'Period')"></th>
                        <th th:text="(#{narrative.propertyName.issuer} ?: 'Issuer')"></th>
                    </tr>
                    <tr th:each="qualification, qualificationItr: ${resource.qualification}">
                        <td th:text="${qualificationItr.count}"></td>
                        <td>
                            <th:block th:each="identifier, identifierItr: ${qualification.identifier}">
                                <th:block th:if="${identifierItr.index}">,</th:block>
                                <th:block th:narrative="${identifier}"></th:block>
                            </th:block>
                        </td>
                        <td th:narrative="${qualification.code}"></td>
                        <td>
                            <th:block th:if="${qualification.period}" th:narrative="${qualification.period}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${qualification.issuer}" th:narrative="${qualification.issuer}"></th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--/*-->
</body>

</html>
<!--*/-->
