<!--/*
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in
a browser.
-->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>

<body>
<!--*/-->

<div>
    <table class="hapiPropertyTable" th:if="${not resource.empty}">
        <tbody>
        <tr th:if="${resource.id}">
            <td th:text="(#{narrative.propertyName.id} ?: 'Id') + ':'"></td>
            <td th:text="${resource.id}"></td>
        </tr>
        <tr th:if="${not resource.identifier.empty}">
            <td th:text="(#{narrative.propertyName.identifier} ?: 'Identifier') + ':'"></td>
            <td>
                <th:block th:each="identifier: ${resource.identifier}">
                    <div th:narrative="${identifier}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.active}">
            <td th:text="(#{narrative.propertyName.active} ?: 'Active') + ':'"></td>
            <td th:text="${resource.active}"></td>
        </tr>
        <tr th:if="${not resource.period.empty}">
            <td th:text="(#{narrative.propertyName.period} ?: 'Period') + ':'"></td>
            <td th:narrative="${resource.period}"></td>
        </tr>
        <tr th:if="${not resource.practitioner.empty}">
            <td th:text="(#{narrative.propertyName.practitioner} ?: 'Practitioner') + ':'"></td>
            <td th:narrative="${resource.practitioner}"></td>
        </tr>
        <tr th:if="${not resource.organization.empty}">
            <td th:text="(#{narrative.propertyName.organization} ?: 'Organization') + ':'"></td>
            <td th:narrative="${resource.organization}"></td>
        </tr>
        <tr th:if="${not resource.code.empty}">
            <td th:text="(#{narrative.propertyName.code} ?: 'Code') + ':'"></td>
            <td>
                <th:block th:each="code, codeItr: ${resource.code}">
                    <th:block th:if="${codeItr.index}">,</th:block>
                    <th:block th:narrative="${code}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.specialty.empty}">
            <td th:text="(#{narrative.propertyName.speciality} ?: 'Speciality') + ':'"></td>
            <td>
                <th:block th:each="specialty, specialtyItr: ${resource.specialty}">
                    <th:block th:if="${specialtyItr.index}">,</th:block>
                    <th:block th:narrative="${specialty}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.location.empty}">
            <td th:text="(#{narrative.propertyName.location} ?: 'Location') + ':'"></td>
            <td>
                <th:block th:each="location, locationItr: ${resource.location}">
                    <th:block th:if="${locationItr.index}">,</th:block>
                    <th:block th:narrative="${location}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.healthcareService.empty}">
            <td th:text="(#{narrative.propertyName.healthcareService} ?: 'Healthcare Service') + ':'"></td>
            <td>
                <th:block th:each="healthcareService, healthcareServiceItr: ${resource.healthcareService}">
                    <th:block th:if="${healthcareServiceItr.index}">,</th:block>
                    <th:block th:narrative="${healthcareService}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.telecom.empty}">
            <td th:text="(#{narrative.propertyName.telecom} ?: 'Telecom') + ':'"></td>
            <td>
                <th:block th:each="telecom, telecomItr: ${resource.telecom}">
                    <th:block th:if="${telecomItr.index}">,</th:block>
                    <th:block th:narrative="${telecom}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.availableTime.empty}">
            <td th:text="(#{narrative.propertyName.availableTime} ?: 'Available Time') + ':'"></td>
            <td>
                <table class="subPropertyTable">
                    <tbody>
                    <tr>
                        <th>-</th>
                        <th th:text="(#{narrative.propertyName.daysOfWeek} ?: 'Days Of Week')"></th>
                        <th th:text="(#{narrative.propertyName.allDay} ?: 'All Day')"></th>
                        <th th:text="(#{narrative.propertyName.availableStartTime} ?: 'Available Start Time')"></th>
                        <th th:text="(#{narrative.propertyName.availableEndTime} ?: 'Available End Time')"></th>
                    </tr>
                    <tr th:each="availableTime, availableTimeItr: ${resource.availableTime}">
                        <td th:text="${availableTimeItr.count}"></td>
                        <td>
                            <th:block th:each="daysOfWeek, daysOfWeekItr: ${availableTime.daysOfWeek}">
                                <th:block th:if="${daysOfWeekItr.index}">,</th:block>
                                <th:block th:text="${daysOfWeek}"></th:block>
                            </th:block>
                        </td>
                        <td>
                            <th:block th:if="${availableTime.allDay}" th:text="${availableTime.allDay}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${availableTime.availableStartTime}"
                                      th:text="${availableTime.availableStartTime}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${availableTime.availableEndTime}"
                                      th:text="${availableTime.availableEndTime}"></th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr th:if="${not resource.notAvailable.empty}">
            <td th:text="(#{narrative.propertyName.notAvailable} ?: 'Not Available') + ':'"></td>
            <td>
                <table class="subPropertyTable">
                    <tbody>
                    <tr>
                        <th>-</th>
                        <th th:text="(#{narrative.propertyName.description} ?: 'Description')"></th>
                        <th th:text="(#{narrative.propertyName.during} ?: 'During')"></th>
                    </tr>
                    <tr th:each="notAvailable, notAvailableItr: ${resource.notAvailable}">
                        <td th:text="${notAvailableItr.count}"></td>
                        <td>
                            <th:block th:if="${notAvailable.description}"
                                      th:text="${notAvailable.description}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${notAvailable.during}"
                                      th:narrative="${notAvailable.during}"></th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr th:if="${resource.availabilityExceptions}">
            <td th:text="(#{narrative.propertyName.availabilityExceptions} ?: 'Availability Exceptions') + ':'"></td>
            <td th:text="${resource.availabilityExceptions}"></td>
        </tr>
        <tr th:if="${not resource.endpoint.empty}">
            <td th:text="(#{narrative.propertyName.endpoint} ?: 'Endpoint') + ':'"></td>
            <td>
                <th:block th:each="endpoint, endpointItr: ${resource.endpoint}">
                    <th:block th:if="${endpointItr.index}">,</th:block>
                    <th:block th:narrative="${endpoint}"></th:block>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--/*-->
</body>

</html>
<!--*/-->
