<!--/*
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in
a browser.
-->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>

<body>
<!--*/-->

<div>
    <table class="hapiPropertyTable" th:if="${not resource.empty}">
        <tbody>
        <tr th:if="${resource.id}">
            <td th:text="(#{narrative.propertyName.id} ?: 'Id') + ':'"></td>
            <td th:text="${resource.id}"></td>
        </tr>
        <tr th:if="${not resource.identifier.empty}">
            <td th:text="(#{narrative.propertyName.identifier} ?: 'Identifier') + ':'"></td>
            <td>
                <th:block th:each="identifier: ${resource.identifier}">
                    <div th:narrative="${identifier}"></div>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.basedOn.empty}">
            <td th:text="(#{narrative.propertyName.basedOn} ?: 'Based On') + ':'"></td>
            <td>
                <th:block th:each="basedOn, basedOnItr: ${resource.basedOn}">
                    <th:block th:if="${basedOnItr.index}">,</th:block>
                    <th:block th:narrative="${basedOn}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.replaces.empty}">
            <td th:text="(#{narrative.propertyName.replaces} ?: 'Replaces') + ':'"></td>
            <td>
                <th:block th:each="replaces, replacesItr: ${resource.replaces}">
                    <th:block th:if="${replacesItr.index}">,</th:block>
                    <th:block th:narrative="${replaces}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.requisition.empty}">
            <td th:text="(#{narrative.propertyName.requisition} ?: 'Requisition') + ':'"></td>
            <td th:narrative="${resource.requisition}"></td>
        </tr>
        <tr th:if="${resource.status}">
            <td th:text="(#{narrative.propertyName.status} ?: 'Status') + ':'"></td>
            <td th:text="${resource.status}"></td>
        </tr>
        <tr th:if="${resource.intent}">
            <td th:text="(#{narrative.propertyName.intent} ?: 'Intent') + ':'"></td>
            <td th:text="${resource.intent}"></td>
        </tr>
        <tr th:if="${not resource.category.empty}">
            <td th:text="(#{narrative.propertyName.category} ?: 'Category') + ':'"></td>
            <td>
                <th:block th:each="category, categoryItr: ${resource.category}">
                    <th:block th:if="${categoryItr.index}">,</th:block>
                    <th:block th:narrative="${category}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.priority}">
            <td th:text="(#{narrative.propertyName.priority} ?: 'Priority') + ':'"></td>
            <td th:text="${resource.priority}"></td>
        </tr>
        <tr th:if="${resource.doNotPerform}">
            <td th:text="(#{narrative.propertyName.doNotPerform} ?: 'Do Not Perform') + ':'"></td>
            <td th:text="${resource.doNotPerform}"></td>
        </tr>
        <tr th:if="${not resource.code.empty}">
            <td th:text="(#{narrative.propertyName.code} ?: 'Code') + ':'"></td>
            <td th:narrative="${resource.code}"></td>
        </tr>
        <tr th:if="${not resource.orderDetail.empty}">
            <td th:text="(#{narrative.propertyName.orderDetail} ?: 'Order Detail') + ':'"></td>
            <td>
                <th:block th:each="orderDetail, orderDetailItr: ${resource.orderDetail}">
                    <th:block th:if="${orderDetailItr.index}">,</th:block>
                    <th:block th:narrative="${orderDetail}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.quantity}">
            <td th:text="(#{narrative.propertyName.quantity} ?: 'Quantity') + ':'"></td>
            <td th:narrative="${resource.quantity}"></td>
        </tr>
        <tr th:if="${not resource.subject.empty}">
            <td th:text="(#{narrative.propertyName.subject} ?: 'Subject') + ':'"></td>
            <td th:narrative="${resource.subject}"></td>
        </tr>
        <tr th:if="${not resource.encounter.empty}">
            <td th:text="(#{narrative.propertyName.encounter} ?: 'Encounter') + ':'"></td>
            <td th:narrative="${resource.encounter}"></td>
        </tr>
        <tr th:if="${resource.occurrence}">
            <td th:text="(#{narrative.propertyName.occurrence} ?: 'Occurrence') + ':'"></td>
            <td th:narrative="${resource.occurrence}"></td>
        </tr>
        <tr th:if="${resource.asNeeded}">
            <td th:text="(#{narrative.propertyName.asNeeded} ?: 'As Needed') + ':'"></td>
            <td th:narrative="${resource.asNeeded}"></td>
        </tr>
        <tr th:if="${resource.authoredOn}">
            <td th:text="(#{narrative.propertyName.authoredOn} ?: 'Authored On') + ':'"></td>
            <td th:text="${#dates.format(resource.authoredOn,'dd/MM/yyyy')}"></td>
        </tr>
        <tr th:if="${not resource.requester.empty}">
            <td th:text="(#{narrative.propertyName.requester} ?: 'Requester') + ':'"></td>
            <td th:narrative="${resource.requester}"></td>
        </tr>
        <tr th:if="${not resource.performerType.empty}">
            <td th:text="(#{narrative.propertyName.performerType} ?: 'Performer Type') + ':'"></td>
            <td th:narrative="${resource.performerType}"></td>
        </tr>
        <tr th:if="${not resource.locationCode.empty}">
            <td th:text="(#{narrative.propertyName.locationCode} ?: 'Location Code') + ':'"></td>
            <td>
                <th:block th:each="locationCode, locationCodeItr: ${resource.locationCode}">
                    <th:block th:if="${locationCodeItr.index}">,</th:block>
                    <th:block th:narrative="${locationCode}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.locationReference.empty}">
            <td th:text="(#{narrative.propertyName.locationReference} ?: 'Location Reference') + ':'"></td>
            <td>
                <th:block th:each="locationReference, locationReferenceItr: ${resource.locationReference}">
                    <th:block th:if="${locationReferenceItr.index}">,</th:block>
                    <th:block th:narrative="${locationReference}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.reasonCode.empty}">
            <td th:text="(#{narrative.propertyName.reasonCode} ?: 'Reason Code') + ':'"></td>
            <td>
                <th:block th:each="reasonCode, reasonCodeItr: ${resource.reasonCode}">
                    <th:block th:if="${reasonCodeItr.index}">,</th:block>
                    <th:block th:narrative="${reasonCode}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.reasonReference.empty}">
            <td th:text="(#{narrative.propertyName.reasonReference} ?: 'Reason Reference') + ':'"></td>
            <td>
                <th:block th:each="reasonReference, reasonReferenceItr: ${resource.reasonReference}">
                    <th:block th:if="${reasonReferenceItr.index}">,</th:block>
                    <th:block th:narrative="${reasonReference}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.insurance.empty}">
            <td th:text="(#{narrative.propertyName.insurance} ?: 'Insurance') + ':'"></td>
            <td>
                <th:block th:each="insurance, insuranceItr: ${resource.insurance}">
                    <th:block th:if="${insuranceItr.index}">,</th:block>
                    <th:block th:narrative="${insurance}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.supportingInfo.empty}">
            <td th:text="(#{narrative.propertyName.supportingInfo} ?: 'Supporting Info') + ':'"></td>
            <td>
                <th:block th:each="supportingInfo, supportingInfoItr: ${resource.supportingInfo}">
                    <th:block th:if="${supportingInfoItr.index}">,</th:block>
                    <th:block th:narrative="${supportingInfo}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.specimen.empty}">
            <td th:text="(#{narrative.propertyName.specimen} ?: 'Specimen') + ':'"></td>
            <td>
                <th:block th:each="specimen, specimenItr: ${resource.specimen}">
                    <th:block th:if="${specimenItr.index}">,</th:block>
                    <th:block th:narrative="${specimen}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.bodySite.empty}">
            <td th:text="(#{narrative.propertyName.bodySite} ?: 'Body Site') + ':'"></td>
            <td>
                <th:block th:each="bodySite, bodySiteItr: ${resource.bodySite}">
                    <th:block th:if="${bodySiteItr.index}">,</th:block>
                    <th:block th:narrative="${bodySite}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.note.empty}">
            <td th:text="(#{narrative.propertyName.note} ?: 'Note') + ':'"></td>
            <td>
                <div th:each="note: ${resource.note}" th:text="${note.text}"></div>
            </td>
        </tr>
        <tr th:if="${resource.patientInstruction}">
            <td th:text="(#{narrative.propertyName.Patient Instruction} ?: 'Patient Instruction') + ':'"></td>
            <td th:text="${resource.patientInstruction}"></td>
        </tr>
        <tr th:if="${not resource.relevantHistory.empty}">
            <td th:text="(#{narrative.propertyName.relevantHistory} ?: 'Relevant History') + ':'"></td>
            <td>
                <th:block th:each="relevantHistory, relevantHistoryItr: ${resource.relevantHistory}">
                    <th:block th:if="${relevantHistoryItr.index}">,</th:block>
                    <th:block th:narrative="${relevantHistory}"></th:block>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--/*-->
</body>

</html>
<!--*/-->
