<!--/*
This top section is not exported as a part of the Narrative,
it is only present so that this template can be viewed in
a browser.
-->
<html>

<head>
    <link rel="stylesheet" type="text/css" href="narrative.css"/>
</head>

<body>
<!--*/-->

<div>
    <table class="hapiPropertyTable" th:if="${not resource.empty}">
        <tbody>
        <tr th:if="${resource.id}">
            <td th:text="(#{narrative.propertyName.id} ?: 'Id') + ':'"></td>
            <td th:text="${resource.id}"></td>
        </tr>
        <tr th:if="${not resource.identifier.empty}">
            <td th:text="(#{narrative.propertyName.identifier} ?: 'Identifier') + ':'"></td>
            <td>
                <th:block th:each="identifier: ${resource.identifier}">
                    <div th:narrative="${identifier}"></div>
                </th:block>
            </td>
        </tr>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${resource.instantiatesCanonical}">
                <td th:text="(#{narrative.propertyName.instantiatesCanonical} ?: 'Instantiates Canonical') + ':'"></td>
                <td th:text="${resource.instantiatesCanonical}"></td>
            </tr>
            <tr th:if="${resource.instantiatesUri}">
                <td th:text="(#{narrative.propertyName.instantiatesUri} ?: 'Instantiates Uri') + ':'"></td>
                <td th:text="${resource.instantiatesUri}"></td>
            </tr>
        </th:block>
        <tr th:if="${not resource.basedOn.empty}">
            <td th:text="(#{narrative.propertyName.basedOn} ?: 'Based On') + ':'"></td>
            <td>
                <th:block th:each="basedOn, basedOnItr: ${resource.basedOn}">
                    <th:block th:if="${basedOnItr.index}">,</th:block>
                    <th:block th:narrative="${basedOn}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.groupIdentifier.empty}">
            <td th:text="(#{narrative.propertyName.groupIdentifier} ?: 'Group Identifier') + ':'"></td>
            <td th:narrative="${resource.groupIdentifier}"></td>
        </tr>
        <tr th:if="${not resource.partOf.empty}">
            <td th:text="(#{narrative.propertyName.partOf} ?: 'Part Of') + ':'"></td>
            <td>
                <th:block th:each="partOf, partOfItr: ${resource.partOf}">
                    <th:block th:if="${partOfItr.index}">,</th:block>
                    <th:block th:narrative="${partOf}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${resource.status}">
            <td th:text="(#{narrative.propertyName.status} ?: 'Status') + ':'"></td>
            <td th:text="${resource.status}"></td>
        </tr>
        <tr th:if="${not resource.statusReason.empty}">
            <td th:text="(#{narrative.propertyName.statusReason} ?: 'Status Reason') + ':'"></td>
            <td th:narrative="${resource.statusReason}"></td>
        </tr>
        <tr th:if="${not resource.businessStatus.empty}">
            <td th:text="(#{narrative.propertyName.businessStatus} ?: 'Business Status') + ':'"></td>
            <td th:narrative="${resource.businessStatus}"></td>
        </tr>
        <tr th:if="${resource.intent}">
            <td th:text="(#{narrative.propertyName.intent} ?: 'Intent') + ':'"></td>
            <td th:text="${resource.intent}"></td>
        </tr>
        <tr th:if="${resource.priority}">
            <td th:text="(#{narrative.propertyName.priority} ?: 'Priority') + ':'"></td>
            <td th:text="${resource.priority}"></td>
        </tr>
        <tr th:if="${not resource.code.empty}">
            <td th:text="(#{narrative.propertyName.code} ?: 'Code') + ':'"></td>
            <td th:narrative="${resource.code}"></td>
        </tr>
        <tr th:if="${resource.description}">
            <td th:text="(#{narrative.propertyName.description} ?: 'Description') + ':'"></td>
            <td th:text="${resource.description}"></td>
        </tr>
        <tr th:if="${not resource.focus.empty}">
            <td th:text="(#{narrative.propertyName.focus} ?: 'Focus') + ':'"></td>
            <td th:narrative="${resource.focus}"></td>
        </tr>
        <tr th:if="${not resource.for.empty}">
            <td th:text="(#{narrative.propertyName.for} ?: 'For') + ':'"></td>
            <td th:narrative="${resource.for}"></td>
        </tr>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.encounter.empty}">
                <td th:text="(#{narrative.propertyName.encounter} ?: 'Encounter') + ':'"></td>
                <td th:narrative="${resource.encounter}"></td>
            </tr>
        </th:block>
        <tr th:if="${not resource.executionPeriod.empty}">
            <td th:text="(#{narrative.propertyName.executionPeriod} ?: 'Execution Period') + ':'"></td>
            <td th:narrative="${resource.executionPeriod}"></td>
        </tr>
        <tr th:if="${resource.authoredOn}">
            <td th:text="(#{narrative.propertyName.authoredOn} ?: 'Authored On') + ':'"></td>
            <td th:text="${#dates.format(resource.authoredOn,'dd/MM/yyyy')}"></td>
        </tr>
        <tr th:if="${resource.lastModified}">
            <td th:text="(#{narrative.propertyName.lastModified} ?: 'Last Modified') + ':'"></td>
            <td th:text="${#dates.format(resource.lastModified,'dd/MM/yyyy')}"></td>
        </tr>
        <tr th:if="${not resource.requester.empty}">
            <td th:text="(#{narrative.propertyName.requester} ?: 'Requester') + ':'"></td>
            <td th:narrative="${resource.requester}"></td>
        </tr>
        <tr th:if="${not resource.performerType.empty}">
            <td th:text="(#{narrative.propertyName.performerType} ?: 'Performer Type') + ':'"></td>
            <td>
                <th:block th:each="performerType, performerTypeItr: ${resource.performerType}">
                    <th:block th:if="${performerTypeItr.index}">,</th:block>
                    <th:block th:narrative="${performerType}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.owner.empty}">
            <td th:text="(#{narrative.propertyName.owner} ?: 'Owner') + ':'"></td>
            <td th:narrative="${resource.owner}"></td>
        </tr>
        <th:block th:unless="${fhirVersion} eq 'DSTU3'">
            <tr th:if="${not resource.location.empty}">
                <td th:text="(#{narrative.propertyName.location} ?: 'Location') + ':'"></td>
                <td th:narrative="${resource.location}"></td>
            </tr>
            <tr th:if="${not resource.reasonCode.empty}">
                <td th:text="(#{narrative.propertyName.reasonCode} ?: 'Reason Code') + ':'"></td>
                <td th:narrative="${resource.reasonCode}"></td>
            </tr>
            <tr th:if="${not resource.reasonReference.empty}">
                <td th:text="(#{narrative.propertyName.reasonReference} ?: 'Reason Reference') + ':'"></td>
                <td th:narrative="${resource.reasonReference}"></td>
            </tr>
            <tr th:if="${not resource.insurance.empty}">
                <td th:text="(#{narrative.propertyName.insurance} ?: 'Insurance') + ':'"></td>
                <td>
                    <th:block th:each="insurance, insuranceItr: ${resource.insurance}">
                        <th:block th:if="${insuranceItr.index}">,</th:block>
                        <th:block th:narrative="${insurance}"></th:block>
                    </th:block>
                </td>
            </tr>
        </th:block>
        <tr th:if="${not resource.note.empty}">
            <td th:text="(#{narrative.propertyName.note} ?: 'Note') + ':'"></td>
            <td>
                <div th:each="note: ${resource.note}" th:text="${note.text}"></div>
            </td>
        </tr>
        <tr th:if="${not resource.relevantHistory.empty}">
            <td th:text="(#{narrative.propertyName.relevantHistory} ?: 'Relevant History') + ':'"></td>
            <td>
                <th:block th:each="relevantHistory, relevantHistoryItr: ${resource.relevantHistory}">
                    <th:block th:if="${relevantHistoryItr.index}">,</th:block>
                    <th:block th:narrative="${relevantHistory}"></th:block>
                </th:block>
            </td>
        </tr>
        <tr th:if="${not resource.restriction.empty}">
            <td th:text="(#{narrative.propertyName.restriction} ?: 'Restriction') + ':'"></td>
            <td>
                <table class="subPropertyTable">
                    <tbody>
                    <tr>
                        <th>-</th>
                        <th th:text="(#{narrative.propertyName.repetitions} ?: 'Repetitions')"></th>
                        <th th:text="(#{narrative.propertyName.period} ?: 'Period')"></th>
                        <th th:text="(#{narrative.propertyName.recipient} ?: 'Recipient')"></th>
                    </tr>
                    <tr>
                        <td>*</td>
                        <td>
                            <th:block th:if="${resource.restriction.repetitions}"
                                      th:text="${resource.restriction.repetitions}"></th:block>
                        </td>
                        <td>
                            <th:block th:if="${resource.restriction.period}"
                                      th:narrative="${resource.restriction.period}"></th:block>
                        </td>
                        <td>
                            <th:block th:each="recipient, recipientItr: ${resource.restriction.recipient}">
                                <th:block th:if="${recipientItr.index}">,</th:block>
                                <th:block th:narrative="${recipient}"></th:block>
                            </th:block>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--/*-->
</body>

</html>
<!--*/-->
